.outner-table {
    width: 100%;
}

.outner-table,
th,
td {

    border: 1px solid white;
    border-collapse: collapse;
}

.outner-table th,
td {
    background-color: #96D4D4;
}

tr {
    height: 50px;
    text-align: center;
}