/* #outer-table {
  border: 2px solid black;
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

#inner-table {
  border: 1px dashed red;
  width: 50%;
}

#inner-table td,
th {

  text-align: left;
  padding: 8px;
  border: 1px solid red;
  border-collapse: collapse;
} */
.outner-table {
  width: 100%;
}

.outner-table,
th,
td {

  border: 1px solid white;
  border-collapse: collapse;
}

.outner-table th,
td {
  background-color: #96D4D4;
}