.inner-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.inner-table td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #fff;
}

.inner-table tr:nth-child(even) {
    background-color: #dddddd;
}

.inner-table thead tr th {
    background-color: #fff;
}